/* deep_blue: #6c9ecf; */
/* secondary #ac9572 */

body, html {
    font-family: Arial;
    height: 100%;
    margin: 0;
    padding: 0;
}
.head {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

/* navbar */
.title_bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    font-size: 24px;
    background-color: none;
}
.title_bar > a {
    color: black;
    padding-right: 10px;
    padding-top: 10px;

}
.title_bar > a:hover {
    color: #6c9ecf;
    padding-right: 10px;
    padding-top: 10px;

}
.name_bar {
    background-color: white;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.name_bar > h1 {
    margin: 10px;
    padding-left: 10px;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background:black;
    margin: 0;
    padding: 0px;
}
.tab {
    color: #fff;
    background: none;
    position: relative;
    padding: 15px;
}
.tab > .tab_title {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.tab_title:hover {
    color: #ac9572;
    cursor: pointer;
    text-decoration: none;
}

/* Home */
.home_text {
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.text_cont {
    width: 100%;
    padding: 30px;
    margin: 0;
}
.text_cont > h1, h2, h3 {
    color: white;
    padding: 0;
    margin: 0;
    padding: 10px;
}
.text_cont > h1 {
    font-size: 7vw;
    font-weight: bold;
}
.text_cont > h2 {
    font-size: 3vw;
}
.text_cont > h3 {
    font-size: 2vw;
}
.icon_cont {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.icon_cont > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}
.icon_cont > a:hover {
    color: #6c9ecf;
}
#down_arrow {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
#down_arrow > .fa-arrow-down {
    color: white;
    
}
#down_arrow > .fa-arrow-down:hover {
    color: #6c9ecf;
    cursor: pointer;
}



/* About */
.about_cont {
    width: 100%;
    background-color: black;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
    align-items: center;
    text-align: center;
}
.about_cont > h1, p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3vw;
}
.about_cont > h2 {
    margin: 0;
    padding-top: 50px;
    color: #ac9572;
}
.bio_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-top: 30px;
}
.bio_cont > img {
    border-radius: 50%;
    height: 15vw;
    border: 5px solid #ac9572;
}
.bio_cont > p {
    text-align: left;
    padding-left: 3vw;
    font-size: 2vw;
    line-height: 1.5;
}

/* Resume Section */
.resume_cont {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}
#resume_title {
    padding-top: 30px;
    font-size: 25px;
}
.resume_cont > h1 {
    padding: 0;
    margin: 0;
}
.resume_cont > h2 {
    margin: 0;
    padding-top: 40px;
    color: #ac9572;
}
#cv_button {
    color: white;
    font-size: 20px;
    background-color: #6c9ecf;
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
}
#cv_button:hover {
    background-color: gray;
}
/* Resume Entries */
.entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}
.entry_image {
    border-radius: 50%;
    height: 50px;
}
.entry_main {
    text-align: left;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}
.entry_main > h3 {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 17px;
}
.entry_main > h4 {
    color: black;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    font-size: 12px;
}
.entry_main > p {
    color: black;
    font-size: 12px;
    padding-top: 5px;
}
.entry_sub {
    text-align: left;
    padding: 0;
    margin: 0;
    width: 20%;
}
.entry_sub > p {
    color: black;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 14px;
}
/* Course list */
.courses > ul {
    text-align: left;
    font-size: 15px;
    list-style-type: circle;
    line-height: 1.5;
}

